
<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Reveal</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{% static "css/bootstrap-theme.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-theme.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


  </head>

  <body role="document">

    <div id="demoLightbox" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
      <div class='lightbox-content'>
        <div class="lightbox-caption"><p>So much power</p></div>
      </div>
    </div>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-collapse collapse" style="position:relative;">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Reveal</a></li>
            <li><a href="#about">About</a></li>
          </ul>
          <div style="position:absolute; right:-20px">
            <form id="search_form" class="navbar-form navbar-left" role="search">
              <div class="form-group" >
                <input id="search_box" type="text" class="form-control" placeholder="Search Companies">
              </div>
            </form>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase" role="main" style="position:relative">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
      </div>


      <div class="btn-group" >
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="margin-bottom:10px">
          Popular <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Recent</a></li>
          <li><a href="#">Rising</a></li>
        </ul>
      </div>

       <button id="shaerbutton" type="button" class="btn btn-lg btn-primary" style="font-size: 12px; position:absolute; right:10px">Share</button>

      <div id="searchbox">
        <table class="table table-hover">
            <tbody>
            {% for post in posts %}
              <tr id="{{post.id}}" class="reveal_space">
                <td>
                  <table>
                    <tbody>
                      <tr>
                          <td>
                              <div>
                                  <h4 id="reveal-text-{{post.id}}">{{post.hidden_comment}}</h4>
                              </div>
                          </td>
                      </tr>
                      <tr>
                        <td>
                          <table>
                            <tr>
                              <td>
                                <h5 style="color: blue;"><a style="margin-right:10px" href="/company/{{post.company}}">{{post.company}}</a></h5>
                              </td>
                              <td>
                                <h6 style="color: blue;"><a href="#">{{post.position}}</a></h6>
                              </td>
                            </tr>
                          </table>
                          <table>
                            <tr>
                              <td>
                                <h6 style="margin-right:10px">{{post.pretty_date}}</h6>
                              </td>
                              <td>
                                <h6><a href="/comment/{{post.id}}">Comments (6)</a></h6>
                              </td>
                            <tr>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "js/jquery-1.11.0.min.js" %}"></script>
    <script src="{% static "js/jquery-ui-1.10.4.custom.min.js" %}"></script>
    <script src="{% static "js/jquery.popupwindow.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/bootstrap-lightbox.min.js" %}"></script>
    <script>
      $(function() {
        $("#search_form").submit(function(){
          window.location = "/c/" + $("#search_box").val();
          return false;
        })
        $("#shaerbutton").click(function(){
            $.popupWindow("https://www.linkedin.com/uas/oauth2/authorization?response_type=code&client_id=75yk9z2ug0z54w&state=REVEAL1234&redirect_uri=http://localhost:8000/post");
        })
        $(".reveal_space").click(function(){
          $.get("/reveal", {id:this.id}, function(data){
            $("#reveal-text-" + this.id).text(data);
          }.bind(this));
        });
      });
    </script>
  </body>
</html>