
<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Reveal</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{% static "css/bootstrap-theme.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-theme.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


  </head>

  <body role="document">

    <div id="demoLightbox" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
      <div class='lightbox-content'>
        <div class="lightbox-caption"><p>So much power</p></div>
      </div>
    </div>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-collapse collapse" style="position:relative;">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Reveal</a></li>
            <li><a href="#about">About</a></li>
          </ul>
          <div style="position:absolute; right:-20px">
            <form aciton="/api"class="navbar-form navbar-left" role="search">
              <div class="form-group" >
                <input type="text" class="form-control" placeholder="Search Companies">
              </div>
            </form>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron" style="padding-top:80px;">
      

      <form action="/post" id="postcomment" class="form-horizontal" id="postform">{% csrf_token %}
        <fieldset>

        <div class="control-group" style="padding-top:10px;">
          <div class="controls">
            <input id="textinput" name="company" type="text" placeholder="Company" class="input-xlarge form-control">
          </div>
        </div>


        <div class="control-group" style="padding-top:10px;">
          <div class="controls">
            <input id="textinput" name="position" type="text" placeholder="Position" class="input-xlarge form-control">
        </div

        <!-- Textarea -->
        <div class="control-group" style="padding-top:10px;">
          <div class="controls">                     
            <textarea id="textarea" name="comment" class="form-control"></textarea>
          </div>
        </div>

        <!-- Button -->
        <div class="control-group" style="padding-top:10px;">
          <div class="controls">
            <button id="singlebutton" name="singlebutton" class="btn btn-primary">Share</button>
          </div>
        </div>

        </fieldset>
      </form>

      </div>

      
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "js/jquery-1.11.0.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/bootstrap-lightbox.min.js" %}"></script>
    <script>
      $(function() {

        $( "#postcomment" ).submit(function( event ) {
 
            // Stop form from submitting normally
            event.preventDefault();
           
            // Get some values from elements on the page:
            var $form = $( this ),
              company = $form.find( "input[name='company']" ).val(),
              position = $form.find( "input[name='position']" ).val(),
              comment = $form.find( "textarea[name='comment']" ).val(),
              url = $form.attr( "action" );
           
            // Send the data using post
            $.post(url, JSON.stringify({"company":company, "position":position, "comment":comment}), function(){
              window.location= '/';
            });
        });
        $( "#postform" ).submit(function( event ) {
          var $inputs = $('#postform :input');
          alert( "Handler for .submit() called." );
          event.preventDefault();
        });
        $("#searchbutton").click(function(){
          $("#searchbox").show();
        });
        $("#com-outer-1").click(function(){
          $("#com-text-1").text("Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod nisi ac hendrerit interdum. Nam massa nisl, interdum eget iaculis id, imperdiet placerat augue. Pellentesque consectetur placerat elementum. Vestibulum gravida est id mollis gravida. Quisque tempor mi leo, at facilisis lorem feugiat ac. Fusce pretium porttitor viverra. Donec sed orci sodales, congue arcu eget, ullamcorper lectus. Aenean euismod orci tellus.");
        });
        $("#com-outer-2").click(function(){
          //$('#demoLightbox').lightbox();
          // $("#com-text-2").text("Mauris a magna ac dui dapibus porttitor. Proin elementum diam id sapien porttitor aliquet. Cras sed velit tellus. Etiam ac velit lobortis elit mollis commodo eu a mi. Sed auctor, lacus sed tempor tincidunt, arcu est condimentum magna, in dignissim ipsum quam a metus. Quisque in diam posuere, venenatis ante sit amet, egestas ipsum.");
        });
        $("#com-outer-3").click(function(){
          $("#com-text-3").text("Curabitur sit amet lorem nec lectus semper eleifend. Phasellus dictum eros sit amet orci congue convallis. Sed at nisi accumsan, suscipit nunc dignissim, gravida massa. Aenean rhoncus ac felis euismod ultrices.");
        });
        $("#com-outer-4").click(function(){
          $("#com-text-4").text("Proin elementum diam id sapien porttitor aliquet. Cras sed velit tellus. Etiam ac velit lobortis elit mollis commodo eu a mi. Sed auctor, lacus sed tempor tincidunt, arcu est condimentum magna, in dignissim ipsum quam a metus. Quisque in diam posuere, venenatis ante sit amet, egestas ipsum.");
        });
      });
    </script>
  </body>
</html>